.master {

  margin: 4rem;
}
.titulo {
  text-align: center;
  margin-top: 40px;
}

.texto {
  font-size: 12px;
  text-align: justify;
  line-height: 1.5;
}

.referencia p {
  text-align: justify;
}

h3 {
  font-size: 14px;
  font-weight: bold;
  text-indent: 2em;
}

p {
  text-indent: 2em;
}

.img{
  display: flex;
  width: 50%; /* definir a largura desejada para cada imagem */
}

.img3{
  padding: 5px;
  width: 50%;
}
